<div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Newsies</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <form action="/scrape" onSubmit="showLoading()">
                    <li class="nav-item">
                        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">NEW ARTICLES!</button>
                    </li>
                </form>
                <form action="/clear">
                    <li class="nav-item">
                        <button type="submit" class="btn btn-primary">CLEAR ARTICLES!</button>
                    </li>
                </form>
            </ul>
            {{#if lastUpdate}}
                <span class="navbar-text"><small>updated at: {{lastUpdate}}</small></span>
            {{/if}}
        </div>
    </nav>

    <h1 class="animated infinite heartBeat delay-2s" id='load' style="font-size: 64px; color: green; text-align: center">{{loadingText}}</h1>

    <div class="card-deck">
        <div class="row">
            {{#each articles}}
            <div class="col-md-4 col-sm-6 mb-2 mt-2">
                <div class="card h-100">
                    <img class="card-img-top" src="{{this.img}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}
                        </h5>
                        <p class="card-text">{{this.summary}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{this.link}}" class="btn btn-primary">Read more</a>
                        {{#if this.read}}
                            <button type="button" class="btn btn-md btn-primary" disabled>Saved article</button>
                        {{else}}
                            <a href="/articles/{{this._id}}" class="btn btn-primary" id={{this._id}}>Save article</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>